<!-- src/app/app.component.html -->

<div class="navigation">
  <!-- <button class="button button-primary" routerLink="/">Home</button>
  <button class="button button-primary" routerLink="/dashboard">
    Dashboard
  </button> -->
  <!-- <button
    class="button button-primary login"
    *ngIf="!isAuthenticated"
    routerLink="/login"
  >
    Login
  </button> -->
  <!-- <button
    class="button button-primary logout"
    *ngIf="isAuthenticated"
    (click)="logout()"
  >
    Logout
  </button> -->
</div>

<router-outlet></router-outlet>
