.content {
  margin: auto;
  color: #666366;
  box-shadow: 1px 2px 4px #ccc;
}
.header h1 {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}
.header h2 {
  color: #fff;
}
.content .product {
  background-color: #fff;
  padding: 20px;
  min-height: 80px;
}
.product .value {
  font-size: 2rem;
  color: #000;
}
.product .allocation {
  height: 100%;
}
.allocation img {
  height: 100%;
  margin-right: 2rem;
}

.allocation p {
  padding: 2px 0;
  margin: 2rem 0;
  border-bottom: solid 1px #666366;
}
.navbar {
  background: #0072ba;
  min-height: 250px;
}
.nav {
  width: 90%;
  margin: auto;
  background: #fff;
  padding: 10px;
  position: relative;
}
.logo {
  position: static;
  height: 60px;
}
.dashboard {
  width: 90%;
  position: relative;
  z-index: 100;
  margin: auto;
  color: #666366;
  bottom: 100px;
}
.disclaimer {
  margin: 0 auto;
  width: 35%;
  color: #666366;
  margin-bottom: 40px;
  margin-top: -40px;
  text-align: center;
}
.manage-dashboard {
  position: static;
  border-top: solid 1px #ccc;
  margin-bottom: 2rem;
  border-left: solid 6px;
}

.manage-dashboard.tp {
  border-left-color: purple;
}

hr {
  border-bottom: solid 1px #ddd;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.manage-dashboard.gip {
  border-left-color: #7abcc8;
}

.manage-dashboard.cpa {
  border-left-color: #0ab9eb;
}

.manage-dashboard .product {
  min-height: 80px;
}
.schemeName {
  color: #36578c;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.asset {
  margin-right: 1rem;
}
.account {
  padding: 0.5rem;
  border-top: 1px solid #ccc;
}
.button {
  cursor: default;
}
.nav-links {
  margin-right: 2rem;
  color: #828082;
  position: absolute;
  right: 100px;
  top: 20px;
}
.nav-links li {
  margin: 0 1rem;
}
.logout {
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
}
.no-data {
  margin: auto;
  text-align: center;
}
.no-data h2 {
  color: #000;
}

/* Mobile devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 480px) {
  .nav-links {
    display: none;
  }
  .logo {
    position: static;
    height: 50px;
  }
  .dashboard .title {
    font-size: 2rem;
  }
  .dashboard .name {
    font-size: 1.5rem;
    line-height: normal;
  }
  .content .product {
    display: block;
  }
  .allocation {
    margin-top: 2rem;
  }
  .edit-detail {
    text-align: center;
    margin-top: 1rem;
  }
  .edit-detail .button {
    width: 100%;
  }
}
