<div class="dashboard">
  <section class="content">
    <div class="header flex flex-justify">
      <h1 class="title">Dashbaord</h1>
      <div class="user-details">
        <h2>
          <span>{{ currentUser?.firstName }} </span>
          <span>{{ currentUser?.lastName }}</span>
        </h2>
      </div>
    </div>

    <div class="product flex flex-justify">
      <ng-container *ngIf="currentUser">
        <div>
          <h2>Your total Investments</h2>
          <h3 class="value">£{{ currentUser.valuation }}</h3>
          <p>{{ today | date }}</p>
          <p>
            Acc. no: <b>{{ currentUser.productId }}</b>
          </p>
        </div>
        <div class="allocation flex flex-start">
          <img src="../../assets/pie.png" />
          <p>{{ currentUser.productName }}<span> 100%</span></p>
        </div>
      </ng-container>
    </div>
  </section>
</div>
<div class="logo">
  <img src="../../assets/logo.png" />
</div>
