<div class="page-wrapper">
  <div class="navbar">
    <div class="nav flex">
      <div class="logo">
        <img src="../../assets/logo.png" />
      </div>
      <div class="nav-links">
        <ul class="flex flex-justify">
          <li>Dashboard</li>
          <li>Help and Support</li>
          <li>Profile</li>
        </ul>
      </div>
      <button
        class="button button-primary logout"
        *ngIf="isAuthenticated"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
  <div class="dashboard">
    <div class="header flex flex-justify">
      <h1 class="title">Dashboard</h1>
      <h2 class="name">
        <span>{{ currentUser?.firstName }} </span>
        <span>{{ currentUser?.lastName }}</span>
      </h2>
    </div>
    <section class="content">
      <div class="product flex flex-justify">
        <ng-container *ngIf="currentUser">
          <div>
            <h3>Your total Investments</h3>
            <h3 class="value">£{{ currentUser.valuation }}</h3>
            <p>as of {{ today | date }}</p>
          </div>
          <div class="allocation flex flex-start">
            <img src="../../assets/pie.png" />
            <p>{{ currentUser.productName }}<span> 100%</span></p>
          </div>
        </ng-container>
        <div class="no-data" *ngIf="showNoData">
          <h2>Your account is undergoing maintenance.</h2>
          <h3>
            We applogize for any inconvenience and we will available back soon.
          </h3>
          <p>
            You can contact support at
            <a mailto="support@aegon.com">support@aegon.com</a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="dashboard manage-dashboard tp">
    <section class="content">
      <ng-container *ngIf="currentUser">
        <div class="product flex flex-justify">
          <div class="flex flex-start">
            <div class="asset"><img src="../../assets/asset.png" /></div>
            <div>
              <p class="schemeName">
                Target plan workplace pension
              </p>
              <!-- <h3 class="value">£{{ currentUser.valuation }}</h3> -->
              <h3 class="value">£70,450</h3>
            </div>
          </div>
          <div class="edit-detail">
            <button disabled class="button button-primary">
              View and manage
            </button>
          </div>
        </div>
        <p class="account">
          Account number: <b>{{ currentUser.productId }}</b>
        </p>
      </ng-container>
    </section>
  </div>
  <hr />
  <div class="dashboard manage-dashboard gip">
    <section class="content">
      <ng-container *ngIf="currentUser">
        <div class="product flex flex-justify">
          <div class="flex flex-start">
            <div class="asset"><img src="../../assets/asset.png" /></div>
            <div>
              <p class="schemeName">
                General pension account
              </p>
              <!-- <h3 class="value">£{{ currentUser.valuation }}</h3> -->
              <h3 class="value">£40,100</h3>
            </div>
          </div>
          <div class="edit-detail">
            <button disabled class="button button-primary">
              View and manage
            </button>
          </div>
        </div>
        <p class="account">
          Account number: <b>{{ currentUser.productId }}</b>
        </p>
      </ng-container>
    </section>
  </div>
  <hr />
  <div class="dashboard manage-dashboard cpa">
    <section class="content">
      <ng-container *ngIf="currentUser">
        <div class="product flex flex-justify">
          <div class="flex flex-start">
            <div class="asset"><img src="../../assets/asset.png" /></div>
            <div>
              <p class="schemeName">
                Cofunds pension account
              </p>
              <!-- <h3 class="value">£{{ currentUser.valuation }}</h3> -->
              <h3 class="value">£20,350</h3>
            </div>
          </div>
          <div class="edit-detail">
            <button disabled class="button button-primary">
              View and manage
            </button>
          </div>
        </div>
        <p class="account">
          Account number: <b>{{ currentUser.productId }}</b>
        </p>
      </ng-container>
    </section>
  </div>
</div>
